.version-list::-webkit-scrollbar-track {
    margin-top: var(--version-list-scrollbar-track-margin-top);
}

.version-list::-webkit-scrollbar-thumb {
    border-top: var(--version-list-scrollbar-thumb-border-top);
}

#recoveryCandidateList .timeline-rail::before {
    display: none;
}
